.teamLeader{
    font-size:2rem;
    font-weight:bold;
}


.btn_delete{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.btn_leader{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

